.App {
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: hidden;
  background-color: rgb(220, 217, 217);
  overflow-y: scroll;
}
.description{
  border: 5px solid black;
  margin-top: 30px;
}
